

body {
	background-color: grey;
	color: #fff;
}

/***MAIN C STYLE***/
div#textBody li{
	list-style: none;
}

div .main-form{
	bottom: 0;
	position: absolute;
	width: calc(100% - 60%);

}
.main-body{
	background-color:#7c889b; 
	width: auto;
	height: auto;
	margin:  auto;
}

/** TEXT INPUT**/
input[type=text]{
	border: 1px solid #ccc;
	width: 85%;
	bottom: 0;
}

button {
	color: #30b536;
}
/*******************************FLEX BOX &  GRID ***************/