

body {
	background-color: #e0e0e0;
	color: #000;
}

/***MAIN C STYLE***/
div#textBody li{
	list-style: none;
}

div .main-form{
	bottom: 0;
	position: absolute;
	width: calc(100% - 60%);

}
.main-body{
	background-color:#ffffff; 
	width: 70%;
	height: 80% !important;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div#textBody{
	height: 700px;
}

/** TEXT INPUT**/
input[type=text]{
	border: 1px solid #ccc;
	width: 70%;
	border-radius: 10px;
	bottom: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

button {
	color: #30b536;
}
/*******************************FLEX BOX &  GRID ***************/