

body {
	background-color: #E1EAF2;
	color: #000;
}

/***MAIN C STYLE***/
div#textBody li{
	list-style: none;
}

div .main-form{
	bottom: 0;
	position: absolute;
	width: calc(100% - 60%);

}
.main-body{
	background-color:#ffffff; 
	width: 70%;
	height: 80% !important;
	margin: auto;
	border-radius: 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
div#textBody{
	height: 700px;
	box-sizing: border-box;
}
/** TEXT INPUT**/
textarea#textInfo{
	border: 1px solid #ccc;
	width: 60%;
	padding: .2em;
	border-radius: 2px;
	margin: 1em;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)*/
}
button.sButton {
	background-color: #1e90ff;
	border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}
button.sButton:hover{
	background-color: #386dff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
textarea#textInfo:focus{
	outline: none;
}

/*******************************FLEX BOX &  GRID ***************/